#ON * {box-sizing:content-box}
#ON{--zn-color: #0e3b31; --zn-sombra: #24917a;}
#ON{
  width: 500px;
  height: 470px;
  margin: auto;
  background: #222;
  outline: #111 1px solid;
  padding: 10px;
  overflow: hidden;
  line-height: 1.2;
  font: 12px Hind;
  line-height: 1.2;
  text-align: justify;
}
#ON br{display: none;}
.on-martin{
  color: #eee;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  background: var(--zn-color);
  border: var(--zn-sombra) 1px solid;
  text-shadow: 1px 1px 0 var(--zn-sombra), -1px 1px 0 var(--zn-sombra), 1px -1px 0 var(--zn-sombra), -1px -1px 0 var(--zn-sombra);
  padding: 30px;
  height: 40px!important;
  font-size: 20px;
}
.on-martin b{
  color: var(--zn-color)
}
#ON input{
  display: none;
}
#ON label{
  background: #111;
  padding: 10px;
  width: 76px;
  display: inline-block;
  margin-top: 10px;
  color: #999;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  font-family: calibri;
  position: relative;
  top: 320px;
  left: 2px;
}
#ON label span{
  display: block;
}
#ON input:checked+label{
  background: var(--zn-color);
  color: #eee;
  text-shadow: 1px 1px 0 var(--zn-sombra), -1px 1px 0 var(--zn-sombra), 1px -1px 0 var(--zn-sombra), -1px -1px 0 var(--zn-sombra);
}
.on-wrap{
  margin-top: 10px;
  height: 300px;
  background: #111;
  margin-top: -56px;
  padding: 20px;
}
.on-index1, .on-index2, .on-index3, .on-index4, .on-index5, .on-index6{
  position: absolute;
  width: 469px;
  height: 300px;
  color: #999;
  font-size: 11px;
  text-align: justify;
}

.on-index1{
  z-index: 1;
  opacity: 0;
  transition: all ease 1s;
}
.on-index2{
  z-index: 1;
  opacity: 0;
  transition: all ease 1s;
}
.on-index3{
  z-index: 1;
  opacity: 0;
  transition: all ease 1s;
}
.on-index4{
  z-index: 1;
  opacity: 0;
  transition: all ease 1s;
}
.on-index5{
  z-index: 1;
  opacity: 0;
  transition: all ease 1s;
}
.on-index6{
  z-index: 1;
  opacity: 0;
  transition: all ease 1s;
}

#ON #ttab1:checked ~ .on-wrap .ze1{ 
  opacity: 1;
  transition: all ease 1s;
  z-index: 2;
}

#ON #ttab2:checked ~ .on-wrap .ze2{ 
  opacity: 1;
  transition: all ease 1s;
  z-index: 2;
}

#ON #ttab3:checked ~ .on-wrap .ze3{ 
  opacity: 1;
  transition: all ease 1s;
  z-index: 2;
}

#ON #ttab4:checked ~ .on-wrap .ze4{ 
  opacity: 1;
  transition: all ease 1s;
  z-index: 2;
}

#ON #ttab5:checked ~ .on-wrap .ze5{ 
  opacity: 1;
  transition: all ease 1s;
  z-index: 2;
}

#ON #ttab6:checked ~ .on-wrap .ze6{ 
  opacity: 1;
  transition: all ease 1s;
  z-index: 2;
}

.on-aparte{
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}
.on-frase{
  font: bold 10px calibri;
  text-transform: uppercase;
  text-align: justify;
  color: #fff;
  width: 300px;
  margin-top: -55px;
  position: relative;
  left: -55px;
  line-height: 1;
}
.on-imagen1{
  margin: 0px 20px;
  border: var(--zn-color) 7px solid;
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-top: -100px;
  border-radius: 50%;
  border-top: 1.6px dashed #eee;
  border-left: 1.1px solid #eee;
  border-right: 1.6px dashed #eee;;
  border-bottom: 1.1px solid #eee;
  padding: 5px;
  position: relative;
  left: 0px;
  animation-name: on-border;
  animation-duration: 7s;
  animation-iteration-count: infinite; 
  animation-timing-function: linear;
}
.on-imagen0{
  border-radius: 50%;
  margin-top: -93px;
  width: 60px;
  height: 60px;
  margin-left: -60px;
  position: relative;
  left: -27px;
}
@keyframes on-border{
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

#on-star{
  position: relative;
  background: #eee;
  display: block;
  padding: 5px;
  font-size: 11px;
  color: var(--zn-color);
  border-radius: 50%;
  top: -50px;
  left: -20px;
  margin-left: -20px;
  margin-bottom: -20px;
}
.HR-credss{
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  text-decoration: none; 
  font-size: 8px;
  font-family: calibri;
  background: rgba(255,255,255,0.5);
  color: #444;
  border-radius:10px;
  padding: 3px;
  display: block;
  width: 30px;
  text-align: center;
  top: 60px;
}
.on-flex{
  display: flex;
}
.on-datos span{
  display: block;
  margin-left: 20px;
  border: #222 1px solid;
  width: 240px;
  margin-bottom: -1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.on-datos i{
  padding: 10px;
  font-size: 15px;
  color: var(--zn-color);
  outline: #222 1px solid;
  width: 15px;
}
.on-datos b{
  font-size: 10px;
  padding: 10px;
  text-transform: uppercase;
  font-family: calibri;
}
.on-otro{
  margin-left: 20px;
  border: #222 1px solid;
  margin-top: -1px;
  padding: 15px 10px 15px;
  height: 52px;
}
.on-otro b{
  display: block;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  font-size: 15px;
  border-bottom: 1px solid var(--zn-color);
  padding: 5px;
}
.on-otro i{
  text-transform: uppercase;
  text-align: right;
  border-top: 2px solid var(--zn-color);
  float: right;
}
.on-scroll{
  height: 300px;
  overflow: auto;
  padding-right: 10px;
}
.on-rela{
  display: flex;
  border: #222 1px solid;
  padding: 5px;
}
.on-rela img{
  width: 80px;
  height: 80px;
  outline: #222 1px solid;
  outline-offset: 5px;
}
.on-rela b{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 15px 15px 5px;
  display: block;
  text-transform: lowercase;
  font-style: italic;
  color: var(--zn-color);
  border-bottom: 1px solid var(--zn-color);
  margin-left: 10px;
  width: 300px;
}
.on-rela i{
  border-top: 2px solid var(--zn-color);
  margin-left: 10px;
  text-transform: uppercase;
  float: right;
  font-size: 8px;
  padding: 5px;
  font-style: normal;
}
.on-tema{
  outline: #222 1px solid;
  margin: 1px;
  padding: 10px;
}
.on-tema a{
  display: block;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  font-style: italic;
  text-decoration: none;
  color: var(--zn-color);
  text-shadow: 1px 1px 0 var(--zn-sombra);
  font-size: 17px;
  font-weight: 500;
  text-align: right;
  padding: 10px;
  border-bottom: #222 1px solid;
}
.on-tema i{
  background: var(--zn-color);
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  font-style: normal;
  border-radius: 10px;
  margin-top: 5px;
  width: 100px;
  display: block;
  margin-top: 3px;
  position: relative;
  top: 3px;
  font: bold 10px calibri;
}
.on-tema span{
  display: block;
  width: 340px;
  text-align: justify;
  padding: 10px;
}
.on-bottom{
  background: #111;
  position: relative;
  top: 0px;
  width: 490px;
  margin: auto;
  padding: 15px;
  outline: 1px solid #111;
  text-align: right;
}
.HR-credss{
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  text-decoration: none; 
  font-size: 8px;
  font-family: calibri;
  background: rgba(255,255,255,0.5);
  color: #444;
  border-radius:10px;
  padding: 3px;
  display: block;
  width: 30px;
  text-align: center;
  top: -7px;
  float: right;
}
