#ambbox {
  width: 248px;
  height: 198px;
  outline: 1px solid #384643;
  outline-offset: 5px;
  margin: auto;
  padding: 1px;
}
.ambbox2 {
  width: 45px;
  height: 21px;
  background-color: #384643;
  margin: -163px 35px;
  transition: width 2s;
}
#ambbox:hover .ambbox2 {
  width: 170px;
}
.ambtext {
  font-family: Arial;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  margin: 145px 70px;
  color: #ebebeb;
  text-shadow: 1px 1px #080908;
  transition: 0.5s;
  opacity: 0;
}
#ambbox:hover .ambtext {
  transition: 0.5s;
  opacity: 1;
}
